body{
    background-image: url('./station.jpg');
    background-size: cover;
    text-align: center;
}

.content {
    display: inline-grid;
}

.increment{
    height : 60px;
    width: 250px;
    background-color: red;
    color: white;
    font-size: 30px;
    margin: 10px
}

.save{
    height : 60px;
    width: 250px;
    background-color: green;
    color: white;
    font-size: 30px;
    margin: 10px
}